.boxinicial{
    height:82vh;
    width: 100%;
    display: flex;
}
div{
    height: 388px;
}
.letreiro{
    width: 650px;
    height: 180px;
    margin-left: 25px;
    padding: 20px;
}
p{
    margin-left: 25px;
    padding: 20px;
    width: 650px;
}
.buttom{
    margin-left: 25px;
    padding: 40px;
    img{
        margin-left: 45px;
    }

}